*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


header{
  border: 2px solid red;
  font-family: "IBM Plex Sans Hebrew", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.left-nav{
  display: flex;
  align-items: center;
  width: 60vw;
  height: 40px;
  gap: 8px;
}
ul{
  display:  flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  height: 40px;
}
ul li{
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
  gap: 8px;
   justify-content: center;
}

.right-nav{
  width: 404px;
  height: 40px;
}
.right-nav ul li:nth-child(2){
  border: 2px solid rgb(211, 210, 210);
  border-radius: 20px;
  width: 96px;
  height: 40px;
}
.right-nav ul li:first-child{
  border: 2px solid rgb(211, 210, 210);
  border-radius: 20px;
  width: 147px;
  height: 40px;
}
.right-nav ul li:nth-child(3){
    background-color: black;
    color: white;
    width: 145px;
    height: 40px;
    border-radius: 20px;

}
.line{
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}
.line span{
  border: 2px solid black;
  width: 18.67px;
  border-bottom: none;
}







/* media queries */

@media (max-width:910px) {
  .left-nav ul, .right-nav ul{
    display: none;
  }
  header img{
    margin-left: 24px;
  }
  .line{
    margin-right: 24px;
  }
  
}